{% load facebook_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>{% block title %}{% endblock %} - daisy</title>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/960.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/nav.css" media="screen" />
		{% block css %}{% endblock %}
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="../../../css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="../../../css/ie.css" media="screen" /><![endif]-->
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-ui.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-fluid16.js"></script>
        {% block preload_js %}{% endblock %}
	</head>
	<body>
		<div class="container_12">
			<div class="grid_12">
				<h1 id="branding">
					<a href="/">Daisy</a>
				</h1>
			</div>
			<div class="clear"></div>
			<div class="grid_12">
				<ul class="nav main">
                    <li>
                        <a href="/">Channels</a>
                        <ul>
                            <li>
                                <a href="/player/">Youtube</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/">About</a>
                        <ul>
                            <li>
                                <a href="/">Project</a>
                            </li>
                            <li>
                                <a href="/">Team</a>
                            </li>
                        </ul>
                    </li>
					<li>
						<a href="/">Help</a>
						<ul>
							<li>
								<a href="/">How to use Daisy</a>
							</li>
							<li>
								<a href="/">How to have fun</a>
							</li>
						</ul>
					</li>
					<li class="secondary">
                        {# FB-login would look great here TODO override css  #}
					</li>
				</ul>
			</div>

            {% block content-header %}{% endblock %}

            {% block content %}{% endblock %}

			<div class="grid_4">
				<div class="box">
					<h2>
						<a href="#" id="toggle-login-forms">Login Options</a>
					</h2>
					<div class="block" id="login-forms">
    					{% facebook_button %}
                        {% if user.is_authenticated %}
                        <p>
                            <a href="{{ user.profile_url }}">Hello, {{ user.first_name|escape }} {{ user.last_name|escape }}
                                <img src="http://graph.facebook.com/{{ user.username }}/picture?type=square"/>
                            </a>
                        </p>
                        {% endif %}
					</div>
				</div>
				<div class="box articles">
					<h2>
						<a href="#" id="toggle-articles">Articles</a>
					</h2>
					<div class="block" id="articles">
						<div class="first article">
							<h3>
								<a href="#">Project Daisy at the second Startup Weekend</a>
							</h3>
							<h4>A Hot Debutant</h4>
							<p class="meta">Moscow, Russia — Friday, 1 October 2010</p>
							<a href="{{ MEDIA_URL }}img/pres_shot.jpg" class="image">
								<img src="{{ MEDIA_URL }}img/pres_shot.jpg" width="60" height="60" alt="photo" />
							</a>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <a href="#">Visit site.</a></p>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<div class="grid_12" id="site_info">
				<div class="box">
				    <p>© 2010 - Pavel Katsev (project Daisy)</p>
					<p>Fluid 960 Grid System, created by <a href="http://www.domain7.com/WhoWeAre/StephenBau.html">Stephen Bau</a>, based on the <a href="http://960.gs/">960 Grid System</a> by <a href="http://sonspring.com/journal/960-grid-system">Nathan Smith</a>. Released under the 
		<a href="../../../licenses/GPL_license.txt">GPL</a> / <a href="../../../licenses/MIT_license.txt">MIT</a> <a href="../../../README.txt">Licenses</a>.</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
        {% facebook_js %}
        {% block js %}{% endblock %}
	</body>
</html>