<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jwplayer.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/prettydate.js"></script>
        <script type="text/javascript" charset="utf-8">
            function PlaylistHelper(player) {
                this.new_items = [];
                this.player = player;
                this.addPlaylistItem = function (new_item) {
                    return this.new_items.push(new_item);
                };
                this.addPlaylistItemFromPost = function (post) {
                    return this.addPlaylistItem({
                        file: post.vid_src,
                        image: post.img_src,
                        fb_post: post,              // monkey patch?!
                    });
                };
                this.reloadPlaylist = function () {
                    if (this.new_items.length > 0) {
                        var newPlaylist = this.player.getPlaylist().concat(this.new_items);
                        this.player.load(newPlaylist);
                        this.new_items = [];
                    };
                };
                this.itemsAwaiting = function () {
                    return this.new_items.length > 0;
                };
            };

            function updatePage(post) {
                $('#avatar').attr('src', 'http://graph.facebook.com/' + post.source_id + '/picture?type=square');
                $('#created_time').html(prettyDate(post.created_time));
            }

            $(function () {
                var player = jwplayer('jwp_container');
                var playlist_helper = new PlaylistHelper(player);

                function reloadPlaylist() {
                    playlist_helper.reloadPlaylist();
                }

                function fetchVideoPosts(callback) {
                    $.getJSON('{% url facebook.views.videos_increment %}', function (posts) {
                        $.each(posts, function (i, post) {
                            playlist_helper.addPlaylistItemFromPost(post);
                        });
                        if (callback) callback();
                    });
                }

                var next_idle_reload = false;
                var next_index = 0;

                player.setup({
                    flashplayer: '{{ MEDIA_URL }}swf/player.swf',
                    height: 800,
                    width: 700,
                    skin: '{{ MEDIA_URL }}skins/smooth.zip',
                    "playlist.position": "bottom",
                    "playlist.size": 400,
                }).onReady(function () {
                    fetchVideoPosts(reloadPlaylist);
                }).onComplete(function () {
                    this.playlistNext();
                }).onPlaylistItem(function (data) {
                    updatePage(this.getPlaylist()[data.index].fb_post);
                    var pl_length = this.getPlaylist().length;
                    next_idle_reload = data.index == (pl_length - 1);
                    if (data.index > (pl_length - 3)) fetchVideoPosts();
                }).onPlaylist(function (data) {
                    this.playlistItem(next_index);
                }).onIdle(function (data) {
                    if (next_idle_reload && playlist_helper.itemsAwaiting() && this.getPosition() == 0) {
                        this.stop();
                        next_index = this.getPlaylist().length;
                        playlist_helper.reloadPlaylist();
                    }
                });
            });
        </script>
    </head>
    <body>
        <body>
            <img id='avatar' src='http://graph.facebook.com/katsev/picture?type=square'/>
            <div id="created_time"></div>
            <div id='jwp_container'>Loading the player ...</div>
        </body>
    </body>
</html>
