<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {# <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/buttons.css" media="screen" /> #}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jwplayer.js"></script>
    </head>
    <body>
        <body id="jwplayer">
            <div id="container">Loading the player ...</div>
        </body>
    </body>
    <script type="text/javascript" charset="utf-8">
        var player = jwplayer("container");
        var new_items = [];

        function addPlaylistItem (new_item) { new_items.push(new_item); }

        function loadNewPlaylist () {
            if (new_items.length > 0) {
                new_playlist=player.getPlaylist().concat(new_items);
                new_items = [];
                player.load(new_playlist);
            };
        }

        function fetch_video_posts(load) {
            jQuery.getJSON('{% url facebook.views.videos_increment %}', function (posts) {
                for (var i = posts.length - 1; i >= 0; i--){
                    var post = posts[i];
                    addPlaylistItem({
                        file: post.vid_src,
                        image: post.img_src
                    });
                };
                if (load) { loadNewPlaylist(); };
            });
        }

        player.setup({
                flashplayer: '{{ MEDIA_URL }}swf/player.swf',
                height: 800, width: 600,
                "playlist.position": "bottom",
                "playlist.size": 400,
        }).onComplete(function () {             //alert('onComplete');
                this.playlistNext();
        }).onReady(function () {                //alert('onReady');
                fetch_video_posts(true);
        }).onIdle(function (old_state) {        //alert('onIdle');
                loadNewPlaylist();
        }).onPlaylist(function (old_state) {    //alert('onPlaylist');
                fetch_video_posts(false);
        });
       </script>
</html>
