<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jwplayer.js"></script>
    </head>
    <body id="jwplayer">
        <div id="container">Loading the player ...</div>
        <button onclick="logcls();">clear</button>
        <button onclick="logline();">line</button>
        <hr/>
        <div id='console'></div>
    </body>
    <script type="text/javascript">
        var con = document.getElementById('console');
        function log (msg) { con.innerHTML += msg + '<br/>' }
        function logline() { con.innerHTML += '<hr/>'; }
        function logcls() { con.innerHTML = ''; }

        var player = jwplayer("container");
        player
            .setup({
                flashplayer: '{{ MEDIA_URL }}swf/player.swf',
                height: 300, width: 900,
                playlist: [
                    {file: 'http://www.youtube.com/v/rxGvzC399Q0'},
                    {file: 'http://video.l3.fbcdn.net/cfs-l3-snc4/77315/402/907345106005_45457.mp4'},
                    {file: 'http://www.youtube.com/v/B7_rPDwSKe8&autoplay=1'},
                    {file: 'http://video.ak.fbcdn.net/cfs-ak-ash2/42237/11/10100192379626500_14648.mp4?h=7c00a34782268a43a78a7f58063fbabd&r=1960'}
                ],
                "playlist.position": "right",
                "playlist.size": 360,
            }).onReady(function () {
                log('onReady');
                this.play();
            }).onComplete(function () {
                log('onComplete');
                this.playlistNext();
            }).onIdle(function (data) {
                log('onIdle :: old state ' + data.oldstate);
                this.play();
                // this.load(this.getPlaylist().concat([{file: 'http://video.l3.fbcdn.net/cfs-l3-snc4/77315/402/907345106005_45457.mp4'}]));
            }).onPlay(function (data) {
                log('onPlay :: old state ' + data.oldstate);
            }).onPlaylistItem(function (data) {
                log('onPlaylistItem :: index ' + data.index);
            }).onPlaylist(function (data) {
                log('onPlaylist');
            // }).onBufferChange(function (data) {
            //     log('onBufferChange :: percent ' + data.percent);
            });

    </script>
</html>