<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="{{ MEDIA_URL }}js/jwplayer.js"></script>
    </head>
    <body id="jwplayer">
        <div id="container">Loading the player ...</div>
    </body>
    <script type="text/javascript">
        var new_items = [];
        function addPlaylistItem (new_item) { new_items.push(new_item); }

        var player = jwplayer("container");
        player
            .setup({
                flashplayer: '{{ MEDIA_URL }}swf/player.swf',
                height: 300, width: 900,
                "playlist.position": "right",
                "playlist.size": 360,
            })
            .onComplete(function () { //alert('onComplete');
                this.playlistNext();
            })
            .onReady(function () { //alert('onReady');
                this.load([
                    {file: 'http://video.l3.fbcdn.net/cfs-l3-snc4/77315/402/907345106005_45457.mp4'},
                ]);
                setTimeout(function() { alert('adding 1st');
                    addPlaylistItem({file: 'http://www.youtube.com/v/B7_rPDwSKe8&autoplay=1'});
                }, 3000);
                setTimeout(function() { alert('adding 2nd');
                    addPlaylistItem({file: 'http://video.ak.fbcdn.net/cfs-ak-ash2/42237/11/10100192379626500_14648.mp4?h=7c00a34782268a43a78a7f58063fbabd&r=1960'});
                }, 34000);
                this.play();
            })
            .onIdle(function (old_state) { //alert('onIdle');
                if (new_items.length > 0) {
                    new_playlist=this.getPlaylist().concat(new_items);
                    new_items = [];
                    this.load(new_playlist);
                }
            })
            .onPlay(function () { alert('onPlay');
                
            });
    </script>
</html>