{% extends "base.html" %}


{% block preload_js %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/swfobject.js"></script>
{% endblock %}

{% block content-header %}
    <div class="clear"></div>
    <div class="grid_12">
    	<h2 id="page-heading">YouTube Channel</h2>
    </div>
{% endblock %}

{% block content %}
    	<div class="clear"></div>
		<div class="grid_8">
			<div class="box">
				<h2>
					<a href="#" id="toggle-paragraphs">Your video posts</a>
				</h2>
				<div class="block" id="paragraphs">
                    <div>
                        <div id='loading'><img src='{{ MEDIA_URL }}img/ajax-loader.gif'> Loading your vids ...</div>
                        <form>
                            <label for="from">From:</label><input type="text" name="from" value="" id="from">
                            <label for="date">Date:</label><input type="text" name="date" value="" id="date">
                        </form>
                    </div>
                    <div>
                        <div id="ytapiplayer">
                            You need Flash player 8+ and JavaScript enabled to view this video.
                        </div>
                        <div>
                            <a href="javascript:playlist.previous()">Back</a>
                            <a href="javascript:ytplayer.playVideo()">Play</a>
                            <a href="javascript:ytplayer.pauseVideo()">Pause</a>
                            <a href="javascript:playlist.next()">Next</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var atts = { id: "myytplayer" };
    var params = { allowScriptAccess: "always" };
    var duration_el = $('#duration');
    var from_el = $('#from');
    var date_el = $('#date');

    /* parses id from a full youtube url */
    function parseId (url) { return url.replace(/^[^v]+v.(.{11}).*/,"$1"); }

    /* gets called once the player is loaded and ready */
    function onYouTubePlayerReady (playerId) {
        ytplayer = document.getElementById(atts.id);
        ytplayer.addEventListener('onStateChange', 'onStateChangeListener');

        // fetch the vid posts and load the playlist
        $.getJSON('{% url facebook.views.youtube_vids %}', function(data) {
            playlist = new function () {
                this.i = 0;
                this.posts = data;
                this.fw = function () { if (this.i < this.posts.length - 1) { this.i++ } else { this.i = 0 } };
                this.rw = function () { if (this.i > 0 ) { this.i-- } else { this.i = this.posts.length - 1} };
                this.id = function () {
                    var post = this.posts[this.i];
                    from_el.val(post.from.name);
                    date_el.val(post.created_time);
                    return parseId(post.link);
                };
                this.next = function () { this.fw(); ytplayer.loadVideoById(this.id()) };
                this.previous = function () { this.rw(); ytplayer.loadVideoById(this.id()) }
            };
            ytplayer.cueVideoById(playlist.id());
            $('#loading').hide();
        });
    }

    function onStateChangeListener (newState) {
        switch(newState) {
            case 0:  // ended
                playlist.fw();
                ytplayer.loadVideoById(playlist.id());
                break;
            case 5:  // cued
                if (ytplayer && ytplayer.getDuration) {
                    duration_el.val(ytplayer.getDuration());
                };
                break;
        };
    }

    swfobject.embedSWF("http://www.youtube.com/apiplayer?&enablejsapi=1&playerapiid=ytapiplayer",
                        "ytapiplayer", "480", "295", "8", null, null, params, atts);
</script>
{% endblock %}